* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
--header-height: 48px;
}
.bg-color--black{
    background-color: black;
}
.hover-opacity--low:hover{
    opacity: 0.9;
}
/* header section */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    background-color: black;
    font-size: 1.5rem;
    color: white;
    z-index: 9;
}
/* navigation */
#header .navigation {
    text-transform: uppercase;
    font-weight: 500;
}
ul.navigation>li>a{
    display: inline-block;
    text-decoration: none;
    color: white;
    line-height: var(--header-height);
    min-width: 100px;
    padding: 0px 24px;
}
ul.navigation > li{
    display: inline-block;
    min-width: 100px;
    text-align: center;
    line-height: var(--header-height);
    cursor: pointer;
}
ul.navigation li:hover{
    background-color: #ccc;
    color: black;
}
ul.navigation li:hover a{
    color: black;
    text-decoration: none;
}
/* submenu in navigation */
.navigation li:last-child{
    position: relative;
}
.navigation li:last-child:hover .submenu{
    display: block;
}
.navigation ul.submenu{
    display: none;
    position: absolute;
    left: 0;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
.navigation ul.submenu li{
    line-height: normal;
    text-align: left;
    text-transform: capitalize;
    list-style: none;
    background-color: white;
    color: black;
}
ul.submenu li a{
    min-width: 150px;
    padding: 12px 0px 12px 16px;
    display: inline-block;
}
.navigation ul.submenu li:hover{
    background-color: #ccc;
}
/* search box */
#header .search-box {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    height: var(--header-height);
    width: 62px;
    text-align: center;
}
#header .search-box i{
    line-height: var(--header-height);
}
#header .search-box:hover{
    background-color: #F44336;
    cursor: pointer;
}
/* slider */
#slider{
    position: relative;
    margin-top: var(--header-height);
}
#slider .slider__img{
    padding-top: 50%;
    background: url(/assets/img/chicago.jpg) top center / cover no-repeat, url(/assets/img/img-holder.jpg) top center / cover no-repeat;
}
#slider .slider__text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 32px 16px;
}
.slider__text .header{
    font-size: 2.4rem;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
    margin: 10px 0px;
}
.slider__text .body{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 15px 0px;
}
/* content */
#content .wrapper{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}
.wrapper .wrapper__title{
    font-size: 3rem;
    letter-spacing: 4px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0px;
}
.wrapper .wrapper__subtitle{
    font-size: 1.5rem;
    font-style: italic;
    margin: 15px 0px;
    opacity: 0.8;
    text-align: center;
}
 /* about */
.about  .about__text{
    font-size: 1.5rem;
    text-align: justify;
    margin: 15px;
    line-height: 1.5;
}
.about .about__member-list{
    padding: 32px 0px;
    display: flex;

}
.about__member-list .member{
    width: 30%;
    margin-left: auto;
}
.about__member-list .member p {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0px;
}
.about__member-list .member img {
    max-width: 156px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
/* tour */
.tour .wrapper__title{
    color: white;
}
.tour .wrapper__subtitle{
    color: #ccc;
}
/* tour calendar */
.tour .tour__calendar{
    margin: 48px 0px 32px 0px;
    background-color: white;
    color: #757575;
    font-size: 1.5rem;
    list-style: none;
}
.tour .tour__calendar li{
    padding: 8px 16px;
    border-bottom: 1px #ccc solid;
}
.tour__calendar .sold_out{
    display: inline-block;
    margin-left: 16px;
}
.tour__calendar .sold_out:after{
    content: "Sold out";
    background-color: #F44336;
    color: white;
    padding: 2px 8px;
}
.tour__calendar .remain{
    float: right;
    margin-right: 16px;
}
.tour__calendar .remain::after{
    content: attr(number);
    background-color: black;
    color: white;
    padding: 1px 6px;
    border-radius: 50%;
}
.tour .tour_list{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.tour_list .ticket{
    max-width: 32%;
}
.tour_list .ticket img{
    max-width: 100%;
    display: block;
}
.tour_list .ticket img:hover{
    filter: brightness(80%);
}
.tour_list .ticket_info{
    padding: 15px;
    background-color: white;
}
.ticket_info .subtitle{
    margin: 15px 0px;
    color: #333;
    opacity: 0.75;
}
.ticket_info .content{
    margin: 15px 0px;
    line-height: 1.5;
}
.button{
    background-color: black;
    color: white;
    text-transform: capitalize;
    padding: 12px 20px!important;
    border: none!important;
}
.button:hover{
    background-color: #F44336;
    cursor: pointer;
}
/* Contact */
#content .contact{
    font-size: 1.8rem;
}
.contact .wrapper__contact{
    padding-top: 64px;
    display: flex;
}
.contact .contact__info, .contact .contact__input{
    width: 50%;
}
.contact .contact__info{
    list-style: none;
}
.contact .contact__info i{
    margin-right: 16px;
}
.contact .contact__info a{
    text-decoration: none;
    color: black;
}
.contact .contact__input input{
    padding: 8px;
    border: 1px solid black;
    line-height: 1.6;
}
.contact__input input{
    margin-bottom: 8px;
    width: 49%;
}
.contact__input input:nth-child(2){
    float: right;
}
.contact__input input:last-child{
    float: right;
    width: auto;
    margin-top: 16px;
}
.contact__input input:nth-child(3){
    width: 100%;
}
#content .map{
    position: relative;
    background: url(/assets/img/map.jpg) center / cover no-repeat;
    padding-top: 56%;
}
#content .map::after{
    display: block;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}

#modal{
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
#modal .validation{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    max-width: calc(100% - 32px);
    background-color: white;
    font-size: 1.5rem;
    line-height: 1.5;
}
.validation .header{
    background-color: #009688;
    color: white;
    font-size: 3rem;
    letter-spacing: 8px;
    font-weight: 300;
    text-align: center;
    padding: 40px;
}
.validation .header button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #009688;
    border: none;
    color: white;
    padding: 12px 20px;
}
.validation .header button:hover{
    background-color: #F44336;
}
.validation .info {
    padding: 16px;
}
.validation .info label{
    display: block;
    margin-bottom: 12px;
}
.validation .info input{
    width: 100%;
    padding: 11px;
    margin-bottom: 18px;
}
.validation .info input[type="submit"]{
    border: none;
    color: white;
    background: #009688;
    padding: 16px;
    cursor: pointer;
}
.validation .info p{
    float: right;
}
.validation .info a {
    color: #2196F3;
}
.validation .info button{
    background-color: #F44336;
    color: white;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
}
